<ion-model-view>
  <ion-header-bar>
    <h1 class="title">Submit Comment on Dish</h1>
    <div class="buttons">
      <button class="button button-stable button-clear" ng-click="closeComment()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="commentForm" name="commentForm" ng-submit="doComment()">
      <div class="list">
        <label class="item item-input item-select">
    <div class="input-label">
      Rating
    </div>
    <select ng-model="mycomment.rating">
      <option></option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </label>
        <label class="item item-input">
            <input type="text" placeholder="Your Name" ng-model="mycomment.author">
        </label>
        <label class="item item-input">
            <textarea placeholder="Your Comment" ng-model="mycomment.comment"></textarea>
        </label>
        <label class="item">
            <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-model-view>
